.adm-nav-bar {
  padding: 0 20px;
  height: 100px;
  border-bottom: 2px solid #ddd;
}
.adm-nav-bar .adm-nav-bar-title {
  font-size: 32px;
}
.adm-nav-bar .adm-nav-bar-back-arrow {
  font-size: 39px;
}
