@import './assets/reset.min.css';

html,body {
  height: 100%;
  background: #eee;
}

#root {
  min-height: 100%;
  background: #fff;
  margin: 0 auto;
  //max-width: 750px; // 不能写在这里，因为也会被postcss-pxtorem转换
}

// .box {
//   width: 328px;
//   height: 164px;
//   line-height: 164px;
//   text-align: center;
//   font-size: 40px;
//   background: lightblue;
// }

// 修改DotLoading组件样式居中
.adm-dot-loading {
  font-size: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.adm-button-loading-wrapper {
  .adm-dot-loading {
    position: static;
    transform: none;
    font-size: 30px;
  }
}

.adm-toast-main{
  max-width: 450px !important;
  background: rgba(136, 136, 136, 0.7) !important;
  padding: 10px !important;
  font-size: 30px !important;
  top: 10% !important;

  .adm-toast-icon,.adm-auto-center,.adm-auto-center-content {
    display: inline-block !important;
  }
  

}